<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>GA6-220501096-AA4-EV01</title>
</head>

<body>

  <div class="container">
    <header class="header">
      <nav class="menu">
        <div class="contenedor-logo">
          <h1>Desarrollo Web</h1>
        </div>

        <ul class="menu-links">
          <li><a href="../views/index.html">Inicio</a></li>
          <li><a href="../views/javascript.html">JavaScript</a></li>
          <li><a href="../views/php.html">PHP</a></li>
          <li><a href="../views/nodejs.html">Node JS</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      
      <div class="contenedor-main">
        <h2 class="title-main">Programación</h2>
        <p class="paragraph">Según la página web <a href="https://pixelprocursos.es/definicion-de-programacion-segun-varios-autores/" class="link-page" target="__blank">Pixel Pro Cursos</a>
          la programación es: "El proceso de escribir instrucciones y comandos para que una computadora realice tareas específicas. Se trata de comunicarse con la máquina a través de un 
          lenguaje de programación para lograr un objetivo determinado. 
          En esencia, la programación es la base de todo el software y aplicaciones que utilizamos en 
          nuestros dispositivos electrónicos".</p>

          <p class="paragraph">Existe una gran varieda de lenguajes de progrmaación, cada uno desarrollado para cumplir una tarea en especial,
            claro está que cada lenguaje puede ser usado para realizar más de una actividad para cual fue creado, en estos casos, se vería reducido de cierta forma
            ya que muchas de sus funcionalidades puede que no sean explotadas al máximo.
          </p>

          <p class="paragraph">En esta web, hablaemos un poco más a fondo de estos leguajes: </p>

          <ul class="lenguages-list">
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Node JS</li>
          </ul>
          <p class="paragraph">Si deseas conocer un poco más sobre estos tres(3) lenguajes de programación, puedes hacer click en las opciones que tenemos en el menú principal.</p>
        </div>
    </main>

    <section class="aside"></section>
    <footer class="footer">
      <div class="content-footer">
          <h5>Actividad: GA6-220501096-AA4-EV01</h5>
          <h5>Aprendiz: Danilo Yarce Calle</h5>
          <h5>Ficha: 2675848</h5>
          <h5>Análisis y Desarrollo de Software - ADSO</h5>
      </div>
  </footer>
  </div>

</body>

</html>

<!--
Establezca un título. Emplee una lista ordenada 
para indicar los distintos conceptos que contiene el tutorial con enlaces a los temas propiamente dichos. Cada 
tema debe tener su título imagen y la descripción del tema. 
-->