<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>NODE JS</title>
</head>

<body>

  <div class="container">
    <header class="header">
      <nav class="menu">
        <div class="contenedor-logo">
            <h1>Desarrollo Web</h1>
        </div>

        <ul class="menu-links">
          <li><a href="../views/index.html">Inicio</a></li>
          <li><a href="../views/javascript.html">JavaScript</a></li>
          <li><a href="../views/php.html">PHP</a></li>
          <li><a href="../views/nodejs.html">Node JS</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      
      <div class="contenedor-main">
        <h2 class="title-main">Node JS</h2>
        <p class="paragraph">Según la página web <a href="https://openwebinars.net/blog/que-es-nodejs/" class="link-page" target="__blank">OpenWebinars</a>
            Node.js es un entorno de tiempo de ejecución de JavaScript (de ahí su terminación en .js haciendo alusión al lenguaje JavaScript). Este entorno de tiempo de ejecución en tiempo real incluye todo lo que se necesita para ejecutar un programa escrito en JavaScript. También aporta muchos beneficios y soluciona muchísimos problemas. </p>

          <p class="paragraph">Node.js fue creado por los desarrolladores originales de JavaScript. Lo transformaron de algo que solo podía ejecutarse en el navegador en algo que se podría ejecutar en los ordenadores como si de aplicaciones independientes se tratara. Gracias a Node.js se puede ir un paso más allá en la programación con JavaScript no solo creando sitios web interactivos, sino teniendo la capacidad de hacer cosas que otros lenguajes de secuencia de comandos como Python pueden crear. </p>

          <h3 class="paragraph">¿Por qué Node JS es tan importante?</h3>
          <p class="paragraph">Node JS es importante en el mundo del desarrollo web por las siguientes raziones:</p>

          <ol class="lenguages-list">
            <li>Es JavaScript en el lado del servidor</li>
            <li>Alto rendimiento en sitios web</li>
            <li>Reutilización de código</li>
            <li>Orientado a microservicios</li>
          </ol>
      </div>
    </main>

    <section class="aside">
        <img src="../assets/nodejs.png" alt="" class="aside-logo">
    </section>
    <footer class="footer">
        <div class="content-footer">
            <h5>Actividad: GA6-220501096-AA4-EV01</h5>
            <h5>Aprendiz: Danilo Yarce Calle</h5>
            <h5>Ficha: 2675848</h5>
            <h5>Análisis y Desarrollo de Software - ADSO</h5>
        </div>
    </footer>
  </div>

</body>

</html>