<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>JavaScript</title>
</head>

<body>

  <div class="container">
    <header class="header">
      <nav class="menu">
        <div class="contenedor-logo">
            <h1>Desarrollo Web</h1>
        </div>

        <ul class="menu-links">
          <li><a href="../views/index.html">Inicio</a></li>
          <li><a href="../views/javascript.html">JavaScript</a></li>
          <li><a href="../views/php.html">PHP</a></li>
          <li><a href="../views/nodejs.html">Node JS</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      
      <div class="contenedor-main">
        <h2 class="title-main">PHP</h2>
        <p class="paragraph">Según la página web de <a href="https://www.php.net/manual/es/intro-whatis.php" class="link-page" target="__blank">PHP</a>
           (acrónimo recursivo de PHP: Hypertext Preprocessor) es un lenguaje de código abierto muy popular especialmente adecuado para el desarrollo web y que puede ser incrustado en HTML. </p>

          <p class="paragraph">Lo que distingue a PHP de algo del lado del cliente como Javascript es que el código 
            es ejecutado en el servidor, generando HTML y enviándolo al cliente. El cliente recibirá el resultado 
            de ejecutar el script, aunque no se sabrá el código subyacente que era. El servidor web puede ser 
            configurado incluso para que procese todos los ficheros HTML con PHP, por lo que no hay manera de 
            que los usuarios puedan saber qué se tiene debajo de la manga.</p>

          <h3 class="paragraph">¿Por qué PHP es tan importante?</h3>
          <p class="paragraph">PHP sigue siendo importante en el mundo del desarrollo web por las siguientes raziones:</p>

          <ol class="lenguages-list">
            <li>Se puede utilizar con cualquier tipo de servidor y con cualquier SO virtual.</li>
            <li>Soporta una gran cantidad de bases de datos diferentes.</li>
            <li>Brinda un soporte completo para la comunicación del servidor con otros protocolos.</li>
            <li>Evoluciona a un ritmo más que satisfactorio en comparación con otras tecnologías.</li>
            <li>Se caracteriza por ser fácil, potente y profesional.</li>
          </ol>
      </div>
    </main>

    <section class="aside">
        <img src="../assets/images.jpg" alt="" class="aside-logo">
    </section>
    <footer class="footer">
        <div class="content-footer">
            <h5>Actividad: GA6-220501096-AA4-EV01</h5>
            <h5>Aprendiz: Danilo Yarce Calle</h5>
            <h5>Ficha: 2675848</h5>
            <h5>Análisis y Desarrollo de Software - ADSO</h5>
        </div>
    </footer>
  </div>

</body>

</html>